/*     */


.icon_header{
	width: 60px;
	height: 60px;
	position: relative;
}

header{
	display: flex;
	flex-direction: row;
	background-color: #C3D4E3;
}




ul.ul_tel, ul.ul_mat, ul.ul_sci{
	top: 60px;
	position: absolute;
	background-color: #C3D4E3;/*
	display: none; */

}
nav > ol{
	display: flex;
	align-content: space-around;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 50px;

	



}



nav > ol > li{
	
	text-align: center;
	vertical-align: middle;
	height:  60px;
	width: 100%;
	top:  30px;
}
nav > ol > li > ul > li{
	display: inline-block;

	


}
nav > ol > li > ul{
	width: 100%;
	display: flex;
	align-content: space-between;
}

nav{

	width: 100%;

}

ul.ul_tel{
	transition: all 2s;	
}


.li_tel:hover ul.ul_tel{
	display: block;

	
	
}




























































.li_tel .fa-chevron-down{
	transition: all 0.8s;
}

.li_tel:hover .fa-chevron-down{
	opacity: 0.5;
	transform: rotate(180deg); 	
}
.li_mat .fa-chevron-down{
	transition: all 0.8s;
}

.li_mat:hover .fa-chevron-down{
	opacity: 0.5;
	transform: rotate(180deg); 	
}
.li_sci .fa-chevron-down{
	transition: all 0.8s;
}

.li_sci:hover .fa-chevron-down{
	opacity: 0.5;
	transform: rotate(180deg); 	
}
.li_aut .fa-chevron-down{
	transition: all 0.8s;
}

.li_aut:hover .fa-chevron-down{
	opacity: 0.5;
	transform: rotate(180deg); 	
}
.li_jeu .fa-chevron-down{
	transition: all 0.8s;
}

.li_jeu:hover .fa-chevron-down{
	opacity: 0.5;
	transform: rotate(180deg); 	
}
.li_divers .fa-chevron-down{
	transition: all 0.8s;
}

.li_divers:hover .fa-chevron-down{
	opacity: 0.5;
	transform: rotate(180deg); 	
}